body {
	font-family: 'Helvetica Neue';
	background: #25BA9F;
	color: #ffffff;
	font-size: 18px;
}

#main-container {
	margin-top: 150px;
	text-align: center;
}

.ui-page { -webkit-backface-visibility: hidden; }

a:link, a:visited {
	font-weight: normal;
	text-transform: uppercase;
	color: #136B5B;
	text-decoration: none;
}

a:hover, a:active {
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}